<nav xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="nav"
     class="navbar navbar-expand-lg-bg-light">

    <div class="container">
        <a class="navbar-brand" th:href="@{/flight}">FlightApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Flights
                    </a>
                    <ul class="dropdown-menu">
                        </li>
                        <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="dropdown-item" aria-current="page" th:href="@{flight/flights}"
                        >List</a>

                        </li>
                    </ul>
                </li>
            </ul>
            >
        </div>
    </div>
</nav>