<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Datos de Vuelo</title>
</head>
<body>
<h1>Formulario de Datos de Vuelo</h1>

<form th:action="@{/guardar}" method="post">
    <label for="numeroVuelo">Número de Vuelo:</label>
    <input type="text" id="numeroVuelo" name="numeroVuelo" th:field="*{numeroVuelo}" />

    <label for="origen">Origen:</label>
    <input type="text" id="origen" name="origen" th:field="*{origen}" />

    <label for="destino">Destino:</label>
    <input type="text" id="destino" name="destino" th:field="*{destino}" />

    <label for="fecha">Fecha de Salida:</label>
    <input type="date" id="fecha" name="fecha" th:field="*{fecha}" />

    <label for="hora">Hora de Salida:</label>
    <input type="time" id="hora" name="hora" th:field="*{hora}" />

    <label for="precio">Precio del Vuelo:</label>
    <input type="text" id="precio" name="precio" th:field="*{precio}" />

    <input type="submit" value="Guardar">
</form>
</body>
</html>