<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{flight/fragments/head :: header('FlightApp')}"><title>title</title></head>
<title>Formulario de Vuelo</title>
<body>

<nav th:replace="~{flight/fragments/nav}"></nav>

<div class="container">
    <div class="row py-5">
        <h2 class="border-bottom"> Flight Web Application</h2>
    </div>
</div>
<h2>Formulario de Vuelo</h2>

<form th:action="@{/guardar-vuelo}" th:object="${vuelo}" method="post">
    <label for="number">Número de vuelo:</label>
    <input type="text" id="number" name="number" th:field="*{number}" required>
    <br>

    <!-- Agrega los demás campos del formulario según sea necesario -->

    <button type="submit">Guardar Vuelo</button>
</form>


<script th:replace="~{flight/fragments/scripts}"></script>
</body>
</html>
